@media (max-width: 1450px) {
    .team__item-5 {
        right: 925px;
        top: 554px;
    }
    .team__item-4 {
        right: 456px;
        top: 725px;
    }

}

@media (max-width: 1323px) {
    .team__item-5 {
        right: 764px;
        top: 554px;
    }
    .team__item-4 {
        right: 286px;
        top: 725px;
    }
}

@media (max-width: 1100px) {
    .top__inner {
        background-image: none;
        padding: 70px 10px 50px;
        text-align: center;
    }
    .tools {
        display: none;
    }
    .tools__items {
        flex-wrap: wrap;
    }
    .tools__item {
        width: 50%;
        margin-bottom: 30px;
    }
    .tools__items .container .container__flex {
        flex-wrap: wrap;

    }
    .tools__link {
        display: none;
    }
    .team__item {
        display: none;
    }
    .team {
        padding: 73px 0 73px;
    }
    .direction {
        padding: 140px 0 0px;
    }

}
@media (max-width: 992px) {
    .header__inner {
        flex-wrap: wrap;
        height: auto;
    }
    .menu {
        order: 1;
        width: 100%;
    }
    .menu__list {
        justify-content: flex-end;
        padding-top: 30px;
    }
    .direction__item-img {
        width: 40%;
    }
}

@media (max-width: 860px) {
    .direction__item-img {
        width: 70%;
        margin: 10px auto -20px;
        order: 2;
    }
    .direction__item {
        flex-wrap: wrap;
    }
    .direction {
        padding: 50px 0 100px;
    }
    .direction__item-content {
        max-width: 100%;
        text-align: center;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__inner-3 {
        width: 100%;
    }
    .footer__form {
        width: 100%;
        text-align: center;
        margin-top: 25px;
    }
    .footer__input {
        width: 100%;
    }
}
@media (max-width: 737px) {
    .blog .container {
        text-align: center;
    }
    .slick-slide img {
        margin: 0 auto;
    }
}

@media (max-width: 524px) {
    .header__inner {
    display: block;
    }
    .menu__list {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
        text-align: center;
        transform: translateX(-500px);
        transition: all .4s linear;
    }

    .menu__btn {
        display: block;
        position: absolute;
        right: 10px;
        top: 25px;
    }
    .user__nav {
        margin: auto 0;
        padding-top: 30px;
        text-align: center;
    }
    .menu__list-link {
        display: block;
        padding: 10px 0;
    }
    .menu__list-active {
        transform: translateX(0);
    }
    .top__title {
        font-size: 27px;
        line-height: 34px;
    }
    .top__text {
        font-size: 16px;
        line-height: 26px;
    }
    .top__btn {
        display: inline-block;
        margin-right: 0;
        width: 100%;
        max-width: 200px;
        margin-bottom: 20px;
    }
    .top__link {
        display: inline-block;
    }
    .direction__item-title {
        font-size: 29px;
        line-height: 40px;
    }
    .team__title {
        font-size: 29px;
        line-height: 43px;
    }
    .direction {
        padding: 50px 0 0px;
    }
    .logo {
        width: 100%;
        text-align: center;
    }
    .footer__inner-1 {
        margin: 0 auto;
    }
    .footer__inner-2 {
        margin: 0 auto;
    }
    .footer__inner {
        margin-bottom: 20px;
    }
}

@media (max-width: 400px) {
    .blog__title {
        font-size: 27px;
        line-height: 45px;
    }
    .blog__text {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 42px;
    }
    .slick-slide img {
        width: 300px;
    }
    .slider__item-title {
        font-size: 21px;
        line-height: 31px;
    }
}











