* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #544837;
    font-size: 16px;
    line-height: 26px;
}
button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.title {
    color: #2F281E;
}
.container {
    max-width: 1144px;
    margin: 0 auto;
    padding: 0 10px;
}
.header {
    background-color: #ffffff;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    align-items: center;
    height: 78px;
}
.menu {
    margin-left: auto;
}
.menu__list {
    display: flex;
}
.menu__list-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
    text-decoration: none;
}
.menu__list-item {
    margin-right: 24px;
}
.menu__list-item:nth-child(4) {
    margin-right: 0;
}
.user__nav-signin {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    text-decoration: none;
    padding: 11px 25px;


    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin-right: 14px;

    transition: all .2s linear;
}
.user__nav-signin:hover {
    background: #FF9900;
    color: #ffffff;
}
.user__nav-signup {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 11px 25px;
    border: 1px solid #FF9900;

    background: #FF9900;
    border-radius: 4px;

    transition: all .2s linear;
}
.user__nav-signup:hover {
    border: 1px solid #BCD0E5;
    background-color: #fff;
    color: #173A56;
}
.user__nav {
    margin-left: 52px;
    margin-right: 13px;
}
.top {

}
.top__inner {
    padding: 133px 0 80px;
    background-image: url('../images/bg-top.svg');
    background-repeat: no-repeat;
    background-position: 100% 60%;
}
.top__title {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    max-width: 518px;
}
.top__text {
    font-size: 18px;
    line-height: 28px;
    max-width: 458px;
    margin-bottom: 50px;
    font-weight: 400;
}
.top__btn {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: inline-block;
    cursor: pointer;

    border: none;
    background: #FF9900;
    border-radius: 4px;
    padding: 15px 41px;
    margin-right: 30px;
}
.top__link {
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #FF9900;
    padding-left: 25px;
    position: relative;
}
.top__link::before {
    content: url("../images/triangle.svg");
    position: absolute;
    left: 0;
    top: 3px;
}
.tools {
    padding-top: 117px;
}
.tools__title {
    max-width: 539px;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;

    margin: 0 auto 56px;
}
.tools__items  {
    background-image: url('../images/tool-bg.svg');
    padding-bottom: 1px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.tools__items .container .container__flex {
    display: flex;
    justify-content: space-around;
    width: 1095px;
    height: 204px;
    margin-bottom: 66px;

}

.tools__item-img {
    margin-bottom: 30px;
}
.tools__item-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
    max-height: 33px;

    margin-bottom: 13px;
}
.tools__item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    max-width: 240px;
}
.tools__link {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 15px 32px;

    background: #FF9900;
    border-radius: 4px;
    text-decoration: none;

}
.tools__link-container {
    text-align: center;
    margin-bottom: 210px;
}
.direction {
    padding: 140px 0 100px;
}
.direction__item-pretitle {
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.direction__item-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 22px;
}
.direction__item-text {
    margin-bottom: 30px;
}
.direction__item-subtitle {
    margin-bottom: 12px;
}
.direction__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.direction__item-content {
    max-width: 486px;
}
.direction__list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}
.direction__list-item {
    list-style: none;
    position: relative;
    margin-left: 70px;
}
.direction__list-item::before {
    content: url("../images/arrow.svg");
    position: absolute;
    left: -70px;
    top: 8px;
}
.team {
    background-image: url('../images/team-bg.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 230px 0 380px;
    position: relative;
}
.team__inner {

}
.team__box {
    text-align: center;
    max-width: 542px;
    margin: 0 auto;
}
.team__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;

    margin-bottom: 22px;
}
.team__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    margin-bottom: 45px;
}
.team__btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
    border: none;
    padding: 15px 31px;
    cursor: pointer;
}
.team__item-img {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;;
}
.team__item {
    position: absolute;
    width: 98px;
    height: 98px;

}
.team__item-1 {
    right: 255px;
    top: 157px;
}
.team__item-text {
    background-color: #fff;
    padding: 14px 20px 15px;
    color: #2F281E;
    box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
    border-radius: 26px;
    position: absolute;
    top: -47px;
    right: 54px;
    white-space: nowrap;
}
.team__item-text--top::after,
.team__item-text--top::before,
.team__item-text--left::before,
.team__item-text--left::after,
.team__item-text--right::before,
.team__item-text--right::after,
.team__item-text--center::before,
.team__item-text--center::after,
.team__item-text--bottom::before,
.team__item-text--bottom::after,
.team__item-text--bottom-left::after,
.team__item-text--bottom-left::before {
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
}
.team__item-text--bottom-left::after {
    width: 17px;
    height: 17px;
    bottom: -8px;
    right: 32px;
}
.team__item-text--bottom-left::before {
    width: 9px;
    height: 9px;
    bottom: -20px;
    right: 21px;
}
.team__item-text--bottom::before {
    width: 9px;
    height: 9px;
    bottom: -20px;
    right: 21px;
}
.team__item-text--bottom::after {
    width: 17px;
    height: 17px;
    bottom: -8px;
    right: 32px;
}
.team__item-text--center::before {
    width: 9px;
    height: 9px;
    bottom: -20px;
    right: 21px;
}
.team__item-text--center::after {
    width: 17px;
    height: 17px;
    bottom: -8px;
    right: 32px;
}
.team__item-text--top::after {
    width: 17px;
    height: 17px;
    bottom: -8px;
    right: 32px;
}
.team__item-text--top::before {
    width: 9px;
    height: 9px;
    bottom: -20px;
    right: 21px;
}
.team__item-text--left {
    top: -47px;
    right: -222px;
}

.team__item-text--left::after {
    width: 17px;
    height: 17px;
    bottom: -8px;
    right: 215px;
}
.team__item-text--left::before {
    width: 9px;
    height: 9px;
    bottom: -25px;
    right: 232px;
}
.team__item-3 {
    right: 141px;
    top: 507px;
}
.team__item-4 {
    right: 716px;
    top: 654px;
}
.team__item-5 {
    position: absolute;
    right: 1156px;
    top: 554px;
}
.blog {
    padding-top: 30px;
}
.blog__title {
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 9px;
}
.blog__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 55px;
}
.blog__slider {
    margin: 0 -20px;
}
.slider__item {
    padding: 0 20px;
}
.slider__item-link-link {
    color: #2F281E;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 12px;
}
.slider__item-img {
    margin-bottom: 25px;
    width: 348px;
    height: 185px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.slider__item-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    text-decoration: none;
    max-width: 294px;
    margin-bottom: 84px;
    transition: all .2s linear;
}
.slider__item-title:hover {
    color: #FF9900;
}
.blog__slider .slick-dots {
    list-style: none;
    font-size: 0;
    background: none;
    display: flex;
    justify-content: center;
}
.slick-dots button{
    margin-top: 45px;
    margin-bottom: 120px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: none;
    background-color: #EFEFEF;
    border-radius: 50%;
}
.slick-dots .slick-active button {
    background: #FF9900;
}
.blog .container{
    border-bottom: 1px solid rgba(188, 208, 229, 0.496913);
}
.footer {
    padding-top: 102px;
}
.footer__img {
    margin-bottom: 33px;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}
.footer__list {
    list-style: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
}
.footer__input {
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 18px 129px 18px 15px;
    display: block;
    margin-bottom: 21px;
}
.footer__input::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #BCD0E5;

}
.footer__button {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 15px;
    background: #FF9900;
    border-radius: 4px;
    border: none;
}
.footer__item a {
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
    text-decoration: none;
}
.menu__btn {
    height: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
.menu__btn span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    left: 0;
    top: 14px;
    position: absolute;

}
.menu__btn::before,
.menu__btn::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: black;
    left: 0;
}
.menu__btn::before {
    top: 0;
}
.menu__btn::after {
    bottom: 0;
}





